@{ Layout = null; List
 <BancoHabana.Models.Cuentas> cuen = new List<BancoHabana.Models.Cuentas>();
    cuen = (List<BancoHabana.Models.Cuentas>)Session["cuentas"];
    BancoHabana.Models.Cuentas cuentas = new BancoHabana.Models.Cuentas(); }
<!DOCTYPE html>

<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>JSP Page</title>
    <script type="text/javascript" src="~/Scripts/jquery-2.1.3.min.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.mobile-1.4.5.js"></script>
    <link rel="stylesheet" href="~/Content/jquery.mobile-1.4.5.css">
    <link rel="stylesheet" href="~/Content/jquery.mobile.theme-1.4.5.css">
    <link rel="stylesheet" href="~/Content/temafsc_3.css">
    <link rel="stylesheet" href="~/Content/jquery.mobile.external-png-1.4.5.css">
    <link rel="stylesheet" href="~/Content/jquery.mobile.icons-1.4.5.css">
    <link rel="stylesheet" href="~/Content/jquery.mobile.inline-png-1.4.5.css">
    <link rel="stylesheet" href="~/Content/jquery.mobile.structure-1.4.5.css">
    <style>
        .foto {
            margin-left: 20%;
        }

        h3 {
            text-align: center;
            align-content: center;
        }
    </style>
    <title>Document</title>
</head>
<body>


    <div id="Elegircuenta" data-role="page">
        <div data-role="header" data-position="fixed" data-theme="c">
            <h3>Estado de Cuenta</h3>
        </div>
        <div data-role="content" id="" data-theme="c">
            <br>
            Seleccionar una cuenta
            <form action="EstadodeCuenta" method="post">
                <select name="opcionesCuenta" id="opcionesCuenta" data-native-menu="false">

                    @{ foreach (var item in cuen)
                        {
                            <option value="@item.numcuenta">@item.numcuenta</option>
                        } }

                </select>
                <br>
                <input type="submit" name="btnlogin" value="Entrar" />
                <a href="MenuGestiones" data-role="button">Regresar</a>
            </form>

        </div>
        <br>
        <br>


    </div>
</body>
</html>
