@{ Layout = null;

    BancoHabana.Models.Cuentas estado = new BancoHabana.Models.Cuentas();

    estado = (BancoHabana.Models.Cuentas)Session["estadosdatos"];



}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <script type="text/javascript" src="~/Scripts/jquery-2.1.3.min.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.mobile-1.4.5.js"></script>
    <link rel="stylesheet" href="~/Content/jquery.mobile-1.4.5.css">
    <link rel="stylesheet" href="~/Content/jquery.mobile.theme-1.4.5.css">
    <link rel="stylesheet" href="~/Content/temafsc_3.css">
    <link rel="stylesheet" href="~/Content/jquery.mobile.external-png-1.4.5.css">
    <link rel="stylesheet" href="~/Content/jquery.mobile.icons-1.4.5.css">
    <link rel="stylesheet" href="~/Content/jquery.mobile.inline-png-1.4.5.css">
    <link rel="stylesheet" href="~/Content/jquery.mobile.structure-1.4.5.css">
    <style>
        .foto {
            margin-left: 20%;
        }

        h3 {
            text-align: center;
            align-content: center;
        }
    </style>
    <title>EstadodeCuenta</title>
</head>

<body>
    <div id="Estadocuenta" data-role="page">
        <div data-role="header" data-position="fixed" data-theme="c">
            <h3>Estado de Cuenta</h3>
        </div>
        <div data-role="content" id="" data-theme="c">
            <br>
            <div>
                Saldo actual <input type="text" id="saldoactual" value="@estado.saldo" name="saldoactual" readonly="readonly">
            </div>
            <div>
                Saldo Bloqueado <input type="text" id="saldobloqueado" value="@estado.saldobloqueado" name="saldobloqueado" readonly="readonly">
            </div>
            <div>
                Saldo Congelado <input type="text" id="saldocongelado" value="@estado.saldocongelado" name="saldocongelado" readonly="readonly">
            </div>
            <div>
                Titular <input type="text" id="titular" name="titular" value="@estado.titular" readonly="readonly">

            </div>
            <br>

            <br>
            <a href="MenuGestiones" data-role="button">Regresar</a>
        </div>
        <br>
        <br>


    </div>
</body>

</html>
