
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <script type="text/javascript" src="~/Scripts/jquery-2.1.3.min.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.mobile-1.4.5.js"></script>
    <link rel="stylesheet" href="~/Content/jquery.mobile-1.4.5.css">
    <link rel="stylesheet" href="~/Content/jquery.mobile.theme-1.4.5.css">
    <link rel="stylesheet" href="~/Content/temafsc_3.css">
    <link rel="stylesheet" href="~/Content/jquery.mobile.external-png-1.4.5.css">
    <link rel="stylesheet" href="~/Content/jquery.mobile.icons-1.4.5.css">
    <link rel="stylesheet" href="~/Content/jquery.mobile.inline-png-1.4.5.css">
    <link rel="stylesheet" href="~/Content/jquery.mobile.structure-1.4.5.css">
    <style>
        .foto {
            margin-left: 20%;
        }

        h3 {
            text-align: center;
            align-content: center;
        }
    </style>
    <title>MenuServicios</title>
</head>
<body>
    <div id="MenuServicios" data-role="page">
        <div data-role="header" data-position="fixed" data-theme="c">
            <h3>Pago Servicios</h3>
        </div>
        <div data-role="content" id="" data-theme="c">
            <div class="foto">
                <br>
                <br>
                <br>

                <img src="~/fotos/Captura.PNG" />

                <br>
                <br>
                <br>
            </div>
           
            <ul data-role="listview">
                <li data-role="list-divider">Servicios</li>
                <li><a href="Menuagua">Agua</a></li>
                <li><a href="Menuluz">Luz</a></li>
                <li><a href="Menutelefono">Teléfono</a></li>
                <li><a href="MenuRecargas">Recargas</a></li>
                <li><a href="MenuInternet">Internet</a></li>
                <a href="MenuPrincipal" data-role="button">Regresar</a>
            </ul>
            <br>
        </div>
    </div>
</body>

</html>
