
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>JSP Page</title>
    <script type="text/javascript" src="~/Scripts/jquery-2.1.3.min.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.mobile-1.4.5.js"></script>
    <link rel="stylesheet" href="~/Content/jquery.mobile-1.4.5.css">
    <link rel="stylesheet" href="~/Content/jquery.mobile.theme-1.4.5.css">
    <link rel="stylesheet" href="~/Content/temafsc_3.css">
    <link rel="stylesheet" href="~/Content/jquery.mobile.external-png-1.4.5.css">
    <link rel="stylesheet" href="~/Content/jquery.mobile.icons-1.4.5.css">
    <link rel="stylesheet" href="~/Content/jquery.mobile.inline-png-1.4.5.css">
    <link rel="stylesheet" href="~/Content/jquery.mobile.structure-1.4.5.css">
    <style>
        .foto {
            margin-left: 20%;
        }

        h3 {
            text-align: center;
            align-content: center;
        }
    </style>
    <title>Login</title>
</head>
<body>


    <form action="postRecuperacionToken" method="post">

        <div id="login" data-role="page">

            <div data-role="header" data-position="fixed" data-theme="c">
                <h3>Recuperación</h3>
            </div>

            <div data-role="content">

                <div>
                    Ingrese el Token enviado a su correo
                    <input type="text" id="token" name="token" placeholder="token">
                    <input type="hidden" value="@Html.Raw(ViewData["correoRecuperacion"])" name="correo">

                </div>
                <br>

                <div>
                    <button>Entrar</button>
                </div>


                <br>

                <div data-role="footer" data-theme="c" data-position="fixed">
                    Banco Rincón Habana
                </div>
            </div>

        </div>

    </form>


</body>
</html>
